---
---

@import "{{ site.theme }}";

.right-img {
    float: right; 
    margin: 0px 0px 0px 12px;
    position: relative;
    top: 10px;
}

.page-header {
    background-color: #295162;
    background-image: linear-gradient(120deg, #4e7f7e, #295162);
}

#content h1 { color: #413A3A; }
#content h2 { color: #285162; }

#content a { color: #15171A; }